@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components{
  .header_top_icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;

  }
}

.nav-link{
  font-weight: 400; 
 cursor: pointer;
 position: relative;
}

.nav-link:hover{
  color:#ff8f9c;
  transition: all 0.4s;
}
.nav-link::after{
  position:absolute;
content:"";
background-color:#ff8f9c;
height: 3px;
width: 100%;
bottom: -5px;
left: 0;
right: 0;
scale: 0;
transform-origin: left;
transition: all 0.4s;
}

.nav-link:hover::after{
  scale: 1;
}
.badge
{
  background-color: #ff8f9c;
}
.icon:hover{
  color: #ff8f9c;
}

/* styling logo */
.brand{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  
}